/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Kay+Pho+Du&family=Montserrat:wght@300;400;500&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500&family=Quicksand:wght@500&family=Work+Sans:wght@300&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
canvas{
    background-color: rgb(0, 0, 0);
}
body{
    overflow: hidden;
    min-height: 100vh;
}
.bg{
    background-color: red;
}
.wrapper{
    position: absolute;
    transform: translate(-50%,50%);
    left: 50%;
    top: 40%;
    padding: 25px 30px 12px;
    display: block;
    text-align: center;
    /* disabled mouse,toach event  */
    cursor: pointer;
    user-select: none;
    border-radius: 7px ;
    background: rgb(0,159,26);
    background: linear-gradient(0deg, rgba(0,159,26,1) 0%, rgba(0,0,0,1) 100%);
}
.wrapper span{
    font-size: 70px;
    letter-spacing: 4px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
